{% extends "layouts/base.html" %}

{% block title %} MyCogito {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}

	<div class="content">
		<div class="panel-header main-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
                        <h2 class= "text-white pb-2 fw-bold" style="font-family: yeon_sung; font-size: 50px">
                            <span class="letters">MyCogito</span>
                        </h2>

						<h5 class="text-white op-7 mb-2 ml12" style="font-size: 20px;">The platform you know yourself better</h5>
					</div>
					<div class="ml-md-auto py-2 py-md-0">
						<a href="#" class="btn btn-white btn-border btn-round mr-2">Manage</a>
					</div>
				</div>
			</div>
		</div>
		<div class="page-inner mt--5 cogito-background">
			<div class="row mt--2">
				<div class="col-md-4">
					<div class="card full-height curves-shadow" style="background-color: #181743">
						<div class="card-body">
							<div class="card-title">Profile</div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h4 class="fw-bold mt-3 mb-0 cogito-pink" >Full Name:</h4>
                                </div>
                                <div class="col-md-8">
                                    <h4 class="mt-3 mb-0 cogito-white" >Johnathan Deo</h4>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-4">
                                    <h4 class="fw-bold mt-3 mb-0 cogito-pink">Location:</h4>
                                </div>
                                <div class="col-md-8">
                                    <h4 class="mt-3 mb-0 cogito-white">USA, Colorado, Denver</h4>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-4">
                                    <h4 class="fw-bold mt-3 mb-0 cogito-pink">Languages:</h4>
                                </div>
                                <div class="col-md-8">
                                    <h4 class="mt-3 mb-0 cogito-white"> English, Spanish</h4>
                                </div>
                            </div>

						</div>
					</div>
				</div>
                <div class="col-md-4">
					<div class="card full-height curves-shadow" style="background-color: #181743">
						<div class="card-body">
							<div class="card-title">Contact</div>

                            <div class="row">
                                <div class="col-md-4">
                                    <h4 class="fw-bold mt-3 mb-0 cogito-pink">Website:</h4>
                                </div>
                                <div class="col-md-8">
                                    <h4 class="mt-3 mb-0 cogito-white"> staradmin.com</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <h4 class="fw-bold mt-3 mb-0 cogito-pink">Email:</h4>
                                </div>
                                <div class="col-md-8">
                                    <h4 class="mt-3 mb-0 cogito-white">Richard@staradmin.com</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <h4 class="fw-bold mt-3 mb-0 cogito-pink">Phone:</h4>
                                </div>
                                <div class="col-md-8">
                                    <h4 class="mt-3 mb-0 cogito-white"> +734 6459967</h4>
                                </div>
                            </div>
						</div>
					</div>
				</div>


                <div class="col-md-4">
					<div class="card full-height" style="background-color: #181743">
						<div class="card-body curves-shadow">
							<div class="card-title">Connected devices</div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="avatar avatar-xxl">
                                        <img src="/static/assets/img/iphone.png" alt="..." class="avatar-img">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="avatar avatar-xxl">
                                        <img src="/static/assets/img/macbook.png" alt="..." class="avatar-img">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="avatar avatar-xxl">
                                        <img src="/static/assets/img/iwatch.png" alt="..." class="avatar-img">
                                    </div>
                                </div>
                            </div>


						</div>
					</div>
				</div>


			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card" style="background-color: #181743">
						<div class="card-header">
							<div class="card-title">Synced Apps</div>
						</div>
						<div class="card-body">

							<table class="table mt-3">
								<thead>
									<tr>
                                        <th scope="col"><h3 class="fw-bold" style="color: #FF2C63">Web Search</h3></th>
                                        <th scope="col"><h3 class="fw-bold" style="color: #FF2C63">Email</h3></th>
                                        <th scope="col"><h3 class="fw-bold" style="color: #FF2C63">Streaming</h3></th>
                                        <th scope="col"><h3 class="fw-bold" style="color: #FF2C63">Social Media</h3></th>
                                        <th scope="col"><h3 class="fw-bold" style="color: #FF2C63">Communication</h3></th>
                                        <th scope="col"><h3 class="fw-bold" style="color: #FF2C63">Finance</h3></th>
                                        <th scope="col"><h3 class="fw-bold" style="color: #FF2C63">Shopping</h3></th>
                                        <th scope="col"><h3 class="fw-bold" style="color: #FF2C63">Health</h3></th>
                                        <th scope="col"><h3 class="fw-bold" style="color: #FF2C63">Music</h3></th>
									</tr>
								</thead>
								<tbody>
									<tr>
                                        <td><div class="avatar"><img src="/static/assets/img/logos/google.svg" style="height: 50px; width: 50px"></div></td>
                                        <td><div class="avatar"><img src="/static/assets/img/logos/gmail.svg" style="height: 50px; width: 50px"></div></td>
                                        <td><div class="avatar"><img src="/static/assets/img/logos/youtube.svg" style="height: 50px; width: 50px"></div></td>
                                        <td><div class="avatar"><img src="/static/assets/img/logos/instagram.svg" style="height: 50px; width: 50px"></div></td>
                                        <td><div class="avatar"><img src="/static/assets/img/logos/T-Mobile.svg" style="height: 60px; width: 100px"></div></td>
                                        <td><div class="avatar"><img src="/static/assets/img/logos/venmo.webp" style="height: 50px; width: 50px"></div></td>
                                        <td><div class="avatar"><img src="/static/assets/img/logos/amazon.svg" style="height: 50px; width: 50px"></div></td>
                                        <td><div class="avatar"><img src="/static/assets/img/logos/apple_health.svg" style="height: 50px; width: 50px"></div></td>
                                        <td><div class="avatar"><img src="/static/assets/img/logos/spotify.svg" style="height: 50px; width: 50px"></div></td>

									</tr>

                                    <tr>
                                        <td><div class="avatar"><img src="/static/assets/img/logos/yahoo.svg" style="height: 50px; width: 50px"></div></td>
                                        <td><div class="avatar"><img src="/static/assets/img/logos/outlook.svg" style="height: 50px; width: 50px"></div></td>
                                        <td><div class="avatar"><img src="/static/assets/img/logos/netflix.svg" style="height: 50px; width: 50px"></div></td>
                                        <td><div class="avatar"><img src="/static/assets/img/logos/facebook.svg" style="height: 50px; width: 50px"></div></td>
                                        <td><div class="avatar"><img src="/static/assets/img/logos/verizon.svg" style="height: 50px; width: 50px"></div></td>
                                        <td></td>
                                        <td><div class="avatar"><img src="/static/assets/img/logos/ebay.svg" style="height: 50px; width: 100px"></div></td>
                                        <td></td>
                                        <td><div class="avatar"><img src="/static/assets/img/logos/soundcloud.svg" style="height: 60px; width: 60px"></div></td>

									</tr>

                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><div class="avatar"><img src="/static/assets/img/logos/twitter.svg" style="height: 50px; width: 50px"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

									</tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><div class="avatar"><img src="/static/assets/img/logos/linkedin.svg" style="height: 50px; width: 50px"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

									</tr>

								</tbody>
							</table>
						</div>
					</div>



			</div>

		</div>
	</div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo.js"></script>
	<script src="/static/assets/js/demo.js"></script>

	<script>
		Circles.create({
			id:'circles-1',
			radius:45,
			value:60,
			maxValue:100,
			width:7,
			text: 5,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		});

		Circles.create({
			id:'circles-2',
			radius:45,
			value:70,
			maxValue:100,
			width:7,
			text: 36,
			colors:['#f1f1f1', '#2BB930'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		});

		Circles.create({
			id:'circles-3',
			radius:45,
			value:40,
			maxValue:100,
			width:7,
			text: 12,
			colors:['#f1f1f1', '#F25961'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		});


	</script>

{% endblock javascripts %}
