{% extends "layouts/base.html" %}

{% block title %} MyCogito {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white pb-2 fw-bold">MyCogito</h2>
					</div>
					<div class="ml-md-auto py-2 py-md-0">
						<a href="#" class="btn btn-white btn-border btn-round mr-2">Manage</a>
					</div>
				</div>
			</div>
		</div>
		<div class="page-inner mt--5">
			<div class="row">
				<div class="col-md-8 full-height">
					<div class="card">
                        <div class="card-header">
                            <div class="card-head-row">
                                <div class="card-title align-items-center">Interests Graph</div>
                                <div class="card-tools">
                                    <ul class="pagination pg-primary">
                                        <li class="page-item active"><a class="page-link" href="#">1D</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1W</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1M</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1Y</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5Y</a></li>
                                    </ul>
								</div>
                            </div>
                        </div>
						<div class="card-body">

                            <div class="mx-md-auto" id="mynetwork" style="height: 700px; width: 1000px"></div>

						</div>
					</div>
				</div>
                <div class="col-md-4">
					<div class="card">
                        <div class="card-header">
                            <div class="card-head-row">
								<div class="card-title">Web site history</div>
                                <div class="card-tools">
                                    <ul class="pagination pg-primary">
                                        <li class="page-item active"><a class="page-link" href="#">1D</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1W</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1M</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1Y</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5Y</a></li>
                                    </ul>
								</div>
                            </div>
                            <div class="card-body">
                                <div class="chart-container">
                                    <canvas id="piechartjs"></canvas>
                                </div>
						</div>
                        </div>
                    </div>

                    <div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Time Spent</div>
								<div class="card-tools">
									<div class="card-tools">
                                    <ul class="pagination pg-primary">
                                        <li class="page-item active"><a class="page-link" href="#">1D</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1W</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1M</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1Y</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5Y</a></li>
                                    </ul>
								</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="chart-container" style="min-height: 375px">
								<canvas id="barchart-interests"></canvas>
							</div>
						</div>
					</div>


                </div>

			</div>

            <div class="row">
				<div class="col-md-12">
					<div class="card full-height">
						<div class="card-body">
							<div class="card-title">Activities</div>
							<div class="row py-3">
								<div class="col-md-3 d-flex flex-column justify-content-around">
									<div>
										<h4 class="fw-bold text-uppercase text-success op-8">Most Used Website</h4>
										<h2 class="fw-bold text-warning">Google</h2>
										<h3 class="fw-bold text-danger op-8">9h 4m</h3>
									</div>
								</div>
								<div class="col-md-3">
									<div>
										<h4 class="fw-bold text-uppercase text-success op-8">Social Activity</h4>
										<h2 class="fw-bold text-warning">Like</h2>
										<h3 class="fw-bold text-danger op-8">16</h3>
									</div>
								</div>
                                <div class="col-md-3">
									<div>
										<h4 class="fw-bold text-uppercase text-success op-8">Most Used Topic</h4>
										<h2 class="fw-bold text-warning">Rock Climbing</h2>
										<h3 class="fw-bold text-danger op-8">10</h3>
									</div>
								</div>
                                <div class="col-md-3">
									<div>
										<h4 class="fw-bold text-uppercase text-success op-8">Daily Time</h4>
										<h2 class="fw-bold text-warning">10:00 PM - 11:00 PM</h2>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>


            <div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">User Statistics</div>
								<div class="card-tools">
									<a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
										<span class="btn-label">
											<i class="fa fa-pencil"></i>
										</span>
										Export
									</a>
									<a href="#" class="btn btn-info btn-border btn-round btn-sm">
										<span class="btn-label">
											<i class="fa fa-print"></i>
										</span>
										Print
									</a>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="chart-container" style="min-height: 375px">
								<canvas id="statisticsChart"></canvas>
							</div>
							<div id="myChartLegend"></div>
						</div>
					</div>
				</div>
		    </div>



        </div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo.js"></script>
	<script src="/static/assets/js/demo.js"></script>

	<script>
		var nodes = null;
var edges = null;
var network = null;

function draw() {
          // create people.
          // value corresponds with the age of the person
          nodes = [
            { id: 1, value: 2, label: "Denver",  group: 1, font: {size: 25, color: "rgb(251,254,255)", face: "Monospace", align: "right"}},
            { id: 2, value: 2, label: "Gym",  group: 1, font: {size: 25, color: "rgb(251,254,255)", face: "Monospace", align: "right"}},
            { id: 3, value: 2, label: "EarthTrek",  group: 1, font: {size: 25, color: "rgb(251,254,255)", face: "Monospace", align: "right"}},
            { id: 4, value: 2, label: "Harness",  group: 1, font: {size: 25, color: "rgb(251,254,255)", face: "Monospace", align: "right"}},
            { id: 5, value: 2, label: "Rock Climbing",  group: 1, font: {size: 25, color: "rgb(251,254,255)", face: "Monospace", align: "right"}},
            { id: 6, value: 2, label: "Health",  group: 1, font: {size: 25, color: "rgb(251,254,255)", face: "Monospace", align: "right"}},
            { id: 7, value: 2, label: "Economy",  group: 2, font: {size: 25, color: "rgb(251,254,255)", face: "Monospace", align: "right"}},
            { id: 8, value: 2, label: "Dan Ariely",  group: 2, font: {size: 25, color: "rgb(251,254,255)", face: "Monospace", align: "right"}},
            { id: 9, value: 2, label: "Finance",  group: 2, font: {size: 25, color: "rgb(251,254,255)", face: "Monospace", align: "right"}},
            { id: 10, value: 2, label: "Behavior",  group: 2, font: {size: 25, color: "rgb(251,254,255)", face: "Monospace", align: "right"}},
            { id: 11, value: 2, label: "Politics",  group: 2, font: {size: 25, color: "rgb(251,254,255)", face: "Monospace", align: "right"}},
            { id: 12, value: 2, label: "Wikipedia",  group: 4, font: {size: 25, color: "rgb(251,254,255)", face: "Monospace", align: "right"}},
            { id: 13, value: 2, label: "Election",  group: 3, font: {size: 25, color: "rgb(251,254,255)", face: "Monospace", align: "right"}},
            { id: 14, value: 2, label: "Vote",  group: 3, font: {size: 25, color: "rgb(251,254,255)", face: "Monospace", align: "right"}},
            { id: 15, value: 2, label: "Sanders",  group: 3, font: {size: 25, color: "rgb(251,254,255)", face: "Monospace", align: "right"}},
            { id: 16, value: 2, label: "Senator",  group: 3, font: {size: 25, color: "rgb(251,254,255)", face: "Monospace", align: "right"}},
          ];

          // create connections between people
          // value corresponds with the amount of contact between two people
          edges = [
            { from: 1, to: 2, value: 3 },
            { from: 2, to: 3, value: 3 },
            { from: 2, to: 4, value: 3 },
            { from: 2, to: 5, value: 3 },
            { from: 2, to: 6, value: 3 },
            { from: 1, to: 7, value: 3 },
            { from: 7, to: 8, value: 3 },
            { from: 7, to: 9, value: 3 },
            { from: 9, to: 10, value: 3 },
            { from: 7, to: 10, value: 3 },
            { from: 7, to: 3, value: 3 },
            { from: 7, to: 11, value: 3 },
            { from: 11, to: 12, value: 3 },
            { from: 1, to: 13, value: 3 },
            { from: 12, to: 13, value: 3 },
            { from: 13, to: 14, value: 3 },
            { from: 13, to: 15, value: 3 },
            { from: 14, to: 15, value: 3 },
            { from: 15, to: 16, value: 3 },
          ];

          // Instantiate our network object.
          var container = document.getElementById("mynetwork");
          var data = {
            nodes: nodes,
            edges: edges,
          };
          var options = {
            nodes: {
              shape: "dot",
              scaling: {
                customScalingFunction: function (min, max, total, value) {
                  return value / total;
                },
                min: 5,
                max: 150,
              },
            },

               physics: {
                  forceAtlas2Based: {
                    gravitationalConstant: -26,
                    centralGravity: 0.006,
                    springLength: 230,
                    springConstant: 0.18,
                  },
                  maxVelocity: 146,
                  solver: "forceAtlas2Based",
                  timestep: 0.05,
                  stabilization: { iterations: 10 },
                },

               /*physics: false,
                interaction: {
                  tooltipDelay: 200,
                  hideEdgesOnDrag: false,
                  hideEdgesOnZoom: true,
                },*/

          };
          network = new vis.Network(container, data, options);
        }

        window.addEventListener("load", () => {
          draw();
        });



        new Chart(document.getElementById("piechartjs"),
        {
            "type": "doughnut",
            "data":
            {
                "labels": ["Medium", "Stackoverflow", "Googledoc", "CNN"],
                "datasets": [
                {
                    "label": "website visit",
                    "data": [300, 50, 100, 30],
                    "backgroundColor": ["rgb(255, 99, 132)",
                                    "rgb(54, 162, 235)",
                                    "rgb(255, 205, 86)",
                                    "rgb(255,11,0)"]
                }]
            },
            'options': {
                'legend': {
                    'labels': {
                        'fontColor': "rgb(251,254,255)",
                        'fontSize': 15
                    }
                },
            }


        });


        new Chart(document.getElementById("barchart-interests"),
        {
            "type": "bar",
            "data":
            {
                "labels": ["Beauty", "Dance", "Rockclimbing", "AI Jobs", "Politics", "Finance", "Election"],
                "datasets": [
                {
                    "label": "",
                    "data": [65, 59, 80, 81, 56, 55, 40],
                    "fill": false,
                    "backgroundColor": ["rgba(255, 99, 132, 0.5)", "rgba(255, 159, 64, 0.5)", "rgba(255, 205, 86, 0.5)", "rgba(75, 192, 192, 0.5)", "rgba(54, 162, 235, 0.5)", "rgba(153, 102, 255, 0.5)", "rgba(201, 203, 207, 0.2)"],
                    "borderColor": ["rgb(255, 99, 132)", "rgb(255, 159, 64)", "rgb(255, 205, 86)", "rgb(75, 192, 192)", "rgb(54, 162, 235)", "rgb(153, 102, 255)", "rgb(201, 203, 207)"],
                    "borderWidth": 1
                }]
            },
            "options":
            {
                "scales":
                {
                    "yAxes": [
                    {
                        "ticks":
                        {
                            "beginAtZero": true
                        }
                    }]
                }
            }
        });






        var ctx = document.getElementById('statisticsChart').getContext('2d');
        var statisticsChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    datasets: [ {
                        label: "Subscribers",
                        borderColor: '#f3545d',
                        pointBackgroundColor: 'rgba(243, 84, 93, 0.6)',
                        pointRadius: 0,
                        backgroundColor: 'rgba(243, 84, 93, 0.4)',
                        legendColor: '#f3545d',
                        fill: true,
                        borderWidth: 2,
                        data: [154, 184, 175, 203, 210, 231, 240, 278, 252, 312, 320, 374]
                    }, {
                        label: "New Visitors",
                        borderColor: '#fdaf4b',
                        pointBackgroundColor: 'rgba(253, 175, 75, 0.6)',
                        pointRadius: 0,
                        backgroundColor: 'rgba(253, 175, 75, 0.4)',
                        legendColor: '#fdaf4b',
                        fill: true,
                        borderWidth: 2,
                        data: [256, 230, 245, 287, 240, 250, 230, 295, 331, 431, 456, 521]
                    }, {
                        label: "Active Users",
                        borderColor: '#177dff',
                        pointBackgroundColor: 'rgba(23, 125, 255, 0.6)',
                        pointRadius: 0,
                        backgroundColor: 'rgba(23, 125, 255, 0.4)',
                        legendColor: '#177dff',
                        fill: true,
                        borderWidth: 2,
                        data: [542, 480, 430, 550, 530, 453, 380, 434, 568, 610, 700, 900]
                    }]
                },
                options : {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    tooltips: {
                        bodySpacing: 4,
                        mode:"nearest",
                        intersect: 0,
                        position:"nearest",
                        xPadding:10,
                        yPadding:10,
                        caretPadding:10
                    },
                    layout:{
                        padding:{left:5,right:5,top:15,bottom:15}
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                fontStyle: "500",
                                beginAtZero: false,
                                maxTicksLimit: 5,
                                padding: 10
                            },
                            gridLines: {
                                drawTicks: false,
                                display: false
                            }
                        }],
                        xAxes: [{
                            gridLines: {
                                zeroLineColor: "transparent"
                            },
                            ticks: {
                                padding: 10,
                                fontStyle: "500"
                            }
                        }]
                    },
                    legendCallback: function(chart) {
                        var text = [];
                        text.push('<ul class="' + chart.id + '-legend html-legend">');
                        for (var i = 0; i < chart.data.datasets.length; i++) {
                            text.push('<li><span style="background-color:' + chart.data.datasets[i].legendColor + '"></span>');
                            if (chart.data.datasets[i].label) {
                                text.push(chart.data.datasets[i].label);
                            }
                            text.push('</li>');
                        }
                        text.push('</ul>');
                        return text.join('');
                    }
                }
            });


		$('#lineChart').sparkline([105,103,123,100,95,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#ffa534',
			fillColor: 'rgba(255, 165, 52, .14)'
		});
	</script>

{% endblock javascripts %}
