{% extends "layouts/base.html" %}

{% block title %} MyCogito {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="panel-header personality-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white pb-2 fw-bold"  style="font-size: 50px">Personality Analysis</h2>
                        <h5 class="text-white op-7 mb-2 ml12" style="font-size: 20px;">Personality anaylsis results are here</h5>

					</div>

					<div class="ml-md-auto py-2 py-md-0">
						<a href="#" class="btn btn-white btn-border btn-round mr-2">Manage</a>
					</div>
				</div>
			</div>
		</div>



		<div class="page-inner mt--5 cogito-background">

            <div class="row">
				<div class="col-md-12">
					<div class="card full-height" style="background-color: #181743">
						<div class="card-body">
							<div class="card-title">Results:</div>
							<div class="row py-3">
								<div class="col-md-12 d-flex flex-column justify-content-around">
									<div>
                                        <h1 class="ml11">
                                            <span class="text-wrapper">
                                                <span class="line line1"></span>
                                                <span class="letters">
                                                    By analyzing at least 195 posts you liked on facebook, instagram and twitter, we assessed your personality and found
                                                     you scored high in Openness which indicates you are creative, imaginative and adventurous.
                                                </span>
                                            </span>

                                        </h1>


									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

			</div>



			<div class="row">
				<div class="col-md-6 full-height">
					<div class="card" style="background-color: #181743">
                        <div class="card-header">
                            <div class="card-head-row">
                                <div class="card-title align-items-center">Personality</div>
                                <div class="card-tools">
                                    <ul class="pagination pg-primary">
                                        <li class="page-item active"><a class="page-link" href="#">1D</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1W</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1M</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1Y</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5Y</a></li>
                                    </ul>
								</div>
                            </div>
                        </div>
						<div class="card-body">

                            <!--<div class="mx-md-auto" id="radarChart" style="height: 700px; width: 1000px"></div>-->
                            <div class="chart-container">
								<canvas id="radarChart"></canvas>
							</div>

						</div>
					</div>
				</div>
                <div class="col-md-6 full-height">
					<div class="card full-height" style="background-color: #181743">
                        <div class="card-header">
                            <div class="card-head-row">
								<div class="card-title">Personality through time</div>
                                <div class="card-tools">
                                    <ul class="pagination pg-primary">
                                        <li class="page-item active"><a class="page-link" href="#">1D</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1W</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1M</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1Y</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5Y</a></li>
                                    </ul>
								</div>
                            </div>
                            <div class="card-body">
                                <div class="chart-container">
                                    <canvas id="personalityStackedBarchart" ></canvas>
                                </div>
						</div>
                        </div>
                    </div>


                </div>

			</div>



        </div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo.js"></script>
	<script src="/static/assets/js/demo.js"></script>

	<script>
        var radarChart = document.getElementById('radarChart').getContext('2d');
        //Chart.defaults.global.defaultFontSize = 25;
        var myRadarChart = new Chart(radarChart, {
			type: 'radar',
			data: {
				labels: ["Openness", "Conscientiousness", "Extraversion", "Agreeableness", "Neuroticism"],
                datasets: [
                    {
                        label: "Personality Traits",
                        data: [30, 40, 70, 10, 90],
                        fill: true,
                        backgroundColor: "rgba(166,169,170,0.4)",
                        borderColor: "#FF2C63",
                        pointBackgroundColor: "#FF2C63",
                        pointBorderColor: "#7D63D3",
                        pointHoverBackgroundColor: "#19D895",
                        pointHoverBorderColor: "rgb(255, 99, 132)"
                    }
                ]
			},
			options : {
				responsive: true,

				legend : {
					position: 'bottom',
                    display: true,
                    labels: {
					    fontSize: 10,
                        fontColor: "#FF2C63"
                    },

				},


				scale: {
                      reverse: false,
                      gridLines: {
                        color: "#7D63D3"//['black', 'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
                      },
                      ticks: {
                        beginAtZero: true
                      },
                      pointLabels: {
                        fontSize: 20,
                          fontColor: ["#FF2C63",
                              "#FFDB01",
                              "#7D63D3",
                              "#51ABFF",
                              "#19D895"]
                      },
                    },
			}
		});




		var barChartData = {
			labels: ["1/1/2017", "2/1/2017", "3/1/2017", "4/1/2017", "5/1/2017"],
			datasets: [{
				label: "Openness",
				backgroundColor: "#FFDB01",
				data: [
					3,
					4,
					6,
                    5,
                    5
				]
			}, {
				label: "Conscientiousness",
				backgroundColor: "#FF2C63",
				data: [
					7,
					1,
					2,
                    5,
                    5
				]
			}, {
				label: 'Extraversion',
				backgroundColor: "#7D63D3",
				data: [
					4,
                    6,
                    9,
                    5,
                    6,
				]
			},

            {
				label: 'Agreeableness',
				backgroundColor: "#51ABFF",
				data: [
					4,
                    6,
                    9,
                    6,
                    7
				]
			},

            {
				label: 'Neuroticism',
				backgroundColor: "#19D895",
				data: [
					4,
                    6,
                    9,
                    8,
                    3
				]
			}

            ]

		};
		window.onload = function() {
			var ctx = document.getElementById('personalityStackedBarchart').getContext('2d');
			window.myBar = new Chart(ctx, {
				type: 'bar',
				data: barChartData,
				options: {
				    legend: {
                        position: "bottom",
                        labels: {
                            fontColor: "#ededed",
                            fontSize: 15,
                        }
                    },
					title: {
						display: true,
						text: ''
					},
					tooltips: {
						mode: 'index',
						intersect: false
					},
					responsive: true,
					scales: {
						xAxes: [{
							stacked: true,
                            ticks: {
                                beginAtZero: true,
                                fontColor: "#ededed",
                                fontSize: 15,
                            }
						}],
						yAxes: [{
							stacked: true,
                            ticks: {
                                beginAtZero: true,
                                fontColor: "#ededed",
                                fontSize: 15,
                            }
						}]
					}
				}
			});
		};







    </script>

{% endblock javascripts %}
