{% extends "layouts/base.html" %}

{% block title %} MyCogito {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="panel-header social-gradinet">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white pb-2 fw-bold" style="font-size: 50px">Social Media Footprints</h2>
						<h5 class="text-white ml12">It's been 5 days since you start taking control of your web search history</h5>
					</div>
					<div class="ml-md-auto py-2 py-md-0">
						<a href="#" class="btn btn-white btn-border btn-round mr-2">Manage</a>
					</div>
				</div>
			</div>
		</div>
		<div class="page-inner mt--5 cogito-background">

            <div class="row">
				<div class="col-md-3 followers-area">
					<div class="card full-height bubble-shadow" style="background-color: #181743">
						<div class="card-body">

								<div class="col-md-12 d-flex flex-column justify-content-around">
                                    <span class="loading">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: transparent; display: block; shape-rendering: auto;" width="100px" height="100px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                                    <g>
                                                      <circle cx="35.6022" cy="50" r="4" fill="#ffffff">
                                                        <animate attributeName="cx" repeatCount="indefinite" dur="1s" values="95;35" keyTimes="0;1" begin="-0.67s"></animate>
                                                        <animate attributeName="fill-opacity" repeatCount="indefinite" dur="1s" values="0;1;1" keyTimes="0;0.2;1" begin="-0.67s"></animate>
                                                      </circle>
                                                      <circle cx="56.0022" cy="50" r="4" fill="#ffffff">
                                                        <animate attributeName="cx" repeatCount="indefinite" dur="1s" values="95;35" keyTimes="0;1" begin="-0.33s"></animate>
                                                        <animate attributeName="fill-opacity" repeatCount="indefinite" dur="1s" values="0;1;1" keyTimes="0;0.2;1" begin="-0.33s"></animate>
                                                      </circle>
                                                      <circle cx="75.8022" cy="50" r="4" fill="#ffffff">
                                                        <animate attributeName="cx" repeatCount="indefinite" dur="1s" values="95;35" keyTimes="0;1" begin="0s"></animate>
                                                        <animate attributeName="fill-opacity" repeatCount="indefinite" dur="1s" values="0;1;1" keyTimes="0;0.2;1" begin="0s"></animate>
                                                      </circle>
                                                    </g><g transform="translate(-15 0)">
                                                      <path d="M50 50L20 50A30 30 0 0 0 80 50Z" fill="#65106e" transform="rotate(90 50 50)"></path>
                                                      <path d="M50 50L20 50A30 30 0 0 0 80 50Z" fill="#65106e" transform="rotate(28.7968 50 50)">
                                                        <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;45 50 50;0 50 50" keyTimes="0;0.5;1"></animateTransform>
                                                      </path>
                                                      <path d="M50 50L20 50A30 30 0 0 1 80 50Z" fill="#65106e" transform="rotate(-28.7968 50 50)">
                                                        <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;-45 50 50;0 50 50" keyTimes="0;0.5;1"></animateTransform>
                                                      </path>
                                                    </g>
                                                </svg>
                                            </span>
									<div class="data" style="display: none;">
										<h2 class="fw-bold op-8 cogito-pink">Twitter</h2>
										<h3 class="fw-bold cogito-yellow">Followers</h3>
										<h4 class="fw-bold op-8 cogito-white">
                                            <span id="twitters_followers"></span>
                                        </h4>
									</div>
								</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 followings-area">
                    <div class="card full-height bubble-shadow" style="background-color: #181743">
                        <div class="card-body">
                            <div class="col-md-12">
                                <span class="loading">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: transparent; display: block; shape-rendering: auto;" width="100px" height="100px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                            <g>
                                              <circle cx="35.6022" cy="50" r="4" fill="#ffffff">
                                                <animate attributeName="cx" repeatCount="indefinite" dur="1s" values="95;35" keyTimes="0;1" begin="-0.67s"></animate>
                                                <animate attributeName="fill-opacity" repeatCount="indefinite" dur="1s" values="0;1;1" keyTimes="0;0.2;1" begin="-0.67s"></animate>
                                              </circle>
                                              <circle cx="56.0022" cy="50" r="4" fill="#ffffff">
                                                <animate attributeName="cx" repeatCount="indefinite" dur="1s" values="95;35" keyTimes="0;1" begin="-0.33s"></animate>
                                                <animate attributeName="fill-opacity" repeatCount="indefinite" dur="1s" values="0;1;1" keyTimes="0;0.2;1" begin="-0.33s"></animate>
                                              </circle>
                                              <circle cx="75.8022" cy="50" r="4" fill="#ffffff">
                                                <animate attributeName="cx" repeatCount="indefinite" dur="1s" values="95;35" keyTimes="0;1" begin="0s"></animate>
                                                <animate attributeName="fill-opacity" repeatCount="indefinite" dur="1s" values="0;1;1" keyTimes="0;0.2;1" begin="0s"></animate>
                                              </circle>
                                            </g><g transform="translate(-15 0)">
                                              <path d="M50 50L20 50A30 30 0 0 0 80 50Z" fill="#65106e" transform="rotate(90 50 50)"></path>
                                              <path d="M50 50L20 50A30 30 0 0 0 80 50Z" fill="#65106e" transform="rotate(28.7968 50 50)">
                                                <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;45 50 50;0 50 50" keyTimes="0;0.5;1"></animateTransform>
                                              </path>
                                              <path d="M50 50L20 50A30 30 0 0 1 80 50Z" fill="#65106e" transform="rotate(-28.7968 50 50)">
                                                <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;-45 50 50;0 50 50" keyTimes="0;0.5;1"></animateTransform>
                                              </path>
                                            </g>
                                        </svg>
                                    </span>
									<div class="data" style="display: none;">
										<h2 class="fw-bold op-8 cogito-pink">Twitter</h2>
										<h3 class="fw-bold cogito-yellow">Followings</h3>
										<h4 class="fw-bold op-8 cogito-white"><span id="twitters_followings"></span></h4>
									</div>
								</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card full-height bubble-shadow" style="background-color: #181743">
                        <div class="card-body">
                                <div class="col-md-12">
									<div>
										<h2 class="fw-bold op-8 cogito-pink">Most Used Topic</h2>
										<h3 class="fw-bold cogito-yellow">Rock Climbing</h3>
										<h4 class="fw-bold op-8 cogito-white">10</h4>
									</div>
								</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card full-height bubble-shadow" style="background-color: #181743">
                        <div class="card-body">
                                <div class="col-md-12">
									<div>
                                        <h2 class="fw-bold op-8 cogito-pink">Peak Times</h2>
										<h3 class="fw-bold cogito-yellow">Daily Time</h3>
										<h4 class="fw-bold op-8 cogito-white">10:00 PM - 11:00 PM</h4>
									</div>
								</div>
                        </div>
                    </div>

				</div>

			</div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card full-height" style="background-color: #181743">
                        <div class="card-header">

                        </div>


						<div class="card-body">

                            <p class="card-category" style="font-size: 20px">
							Below barchart indicates ...
                            </p>
                            <div class="card-body">
                                <div class="chart-container sentimentChartContainer">
                                    <canvas id="sentimentChart"></canvas>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: transparent; display: block; shape-rendering: auto;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                        <g transform="translate(50 50)">
                                          <g transform="scale(0.7)">
                                            <g transform="translate(-50 -50)">
                                              <g transform="rotate(12.13 50 50)">
                                                <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" values="0 50 50;360 50 50" keyTimes="0;1" dur="0.7575757575757576s"/>
                                                <path fill-opacity="0.8" fill="#ff2c63" d="M50 50L50 0A50 50 0 0 1 100 50Z"/>
                                              </g>
                                              <g transform="rotate(99.0935 50 50)">
                                                <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" values="0 50 50;360 50 50" keyTimes="0;1" dur="1.0101010101010102s"/>
                                                <path fill-opacity="0.8" fill="#ffdb01" d="M50 50L50 0A50 50 0 0 1 100 50Z" transform="rotate(90 50 50)"/>
                                              </g>
                                              <g transform="rotate(186.063 50 50)">
                                                <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" values="0 50 50;360 50 50" keyTimes="0;1" dur="1.5151515151515151s"/>
                                                <path fill-opacity="0.8" fill="#19d895" d="M50 50L50 0A50 50 0 0 1 100 50Z" transform="rotate(180 50 50)"/>
                                              </g>
                                              <g transform="rotate(273.031 50 50)">
                                                <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" values="0 50 50;360 50 50" keyTimes="0;1" dur="3.0303030303030303s"/>
                                                <path fill-opacity="0.8" fill="#7d63d3" d="M50 50L50 0A50 50 0 0 1 100 50Z" transform="rotate(270 50 50)"/>
                                              </g>
                                            </g>
                                          </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>

						</div>
					</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card full-height" style="background-color: #181743">
                        <div class="card-header">

                        </div>


						<div class="card-body">

                            <p class="card-category" style="font-size: 20px">
							Below barchart indicates ...
                            </p>
                            <div class="card-body">
                                <div class="chart-container wordcloudChartContainer">
                                    <figure class="highcharts-figure">
                                        <div id="container"></div>
                                    </figure>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: transparent; display: block; shape-rendering: auto;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                        <g transform="translate(50 50)">
                                          <g transform="scale(0.7)">
                                            <g transform="translate(-50 -50)">
                                              <g transform="rotate(12.13 50 50)">
                                                <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" values="0 50 50;360 50 50" keyTimes="0;1" dur="0.7575757575757576s"/>
                                                <path fill-opacity="0.8" fill="#ff2c63" d="M50 50L50 0A50 50 0 0 1 100 50Z"/>
                                              </g>
                                              <g transform="rotate(99.0935 50 50)">
                                                <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" values="0 50 50;360 50 50" keyTimes="0;1" dur="1.0101010101010102s"/>
                                                <path fill-opacity="0.8" fill="#ffdb01" d="M50 50L50 0A50 50 0 0 1 100 50Z" transform="rotate(90 50 50)"/>
                                              </g>
                                              <g transform="rotate(186.063 50 50)">
                                                <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" values="0 50 50;360 50 50" keyTimes="0;1" dur="1.5151515151515151s"/>
                                                <path fill-opacity="0.8" fill="#19d895" d="M50 50L50 0A50 50 0 0 1 100 50Z" transform="rotate(180 50 50)"/>
                                              </g>
                                              <g transform="rotate(273.031 50 50)">
                                                <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" values="0 50 50;360 50 50" keyTimes="0;1" dur="3.0303030303030303s"/>
                                                <path fill-opacity="0.8" fill="#7d63d3" d="M50 50L50 0A50 50 0 0 1 100 50Z" transform="rotate(270 50 50)"/>
                                              </g>
                                            </g>
                                          </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>

						</div>
					</div>
                </div>
            </div>

            <div class="row">
				<div class="col-md-12">
					<div class="card full-height" style="background-color: #181743">
						<div class="card-body">
							<div class="row py-3">
								<div class="col-md-9 d-flex flex-column justify-content-around">
									<div>
                                        <h1 class="ml11">
                                            <span class="text-wrapper">
                                                <span class="line line1"></span>
                                                <span class="letters">
                                                    Change your social media reflection. See in real time how deleting your previous post will impact your social media footprint.
                                                </span>
                                            </span>

                                        </h1>

									</div>
								</div>
                                <div class="col-md-3 d-flex  justify-content-around">
                                    <button class="btn" style="background-color: #19D895; color: white">
                                            <span class="btn-label">
                                                <i class="fa "></i>
                                            </span>
                                            Set up
                                    </button>
                                </div>

							</div>
						</div>
					</div>
				</div>

			</div>

            <div class="row">
				<div class="col-md-3">
					<div class="card full-height bubble-shadow" style="background-color: #181743">
						<div class="card-body">

								<div class="col-md-12 d-flex flex-column justify-content-around">
									<div>
										<h2 class="fw-bold op-8 cogito-pink">Most Used Social App</h2>
										<h3 class="fw-bold cogito-yellow">Facebook</h3>
										<h4 class="fw-bold op-8 cogito-white">9h 4m</h4>
									</div>
								</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card full-height bubble-shadow" style="background-color: #181743">
                        <div class="card-body">
                            <div class="col-md-12">
									<div>
										<h2 class="fw-bold op-8 cogito-pink">Most Social Activity</h2>
										<h3 class="fw-bold cogito-yellow">Like</h3>
										<h4 class="fw-bold op-8 cogito-white">16</h4>
									</div>
								</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card full-height bubble-shadow" style="background-color: #181743">
                        <div class="card-body">
                                <div class="col-md-12">
									<div>
										<h2 class="fw-bold op-8 cogito-pink">Most Used Topic</h2>
										<h3 class="fw-bold cogito-yellow">Rock Climbing</h3>
										<h4 class="fw-bold op-8 cogito-white">10</h4>
									</div>
								</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card full-height bubble-shadow" style="background-color: #181743">
                        <div class="card-body">
                                <div class="col-md-12">
									<div>
                                        <h2 class="fw-bold op-8 cogito-pink">Peak Times</h2>
										<h3 class="fw-bold cogito-yellow">Daily Time</h3>
										<h4 class="fw-bold op-8 cogito-white">10:00 PM - 11:00 PM</h4>
									</div>
								</div>
                        </div>
                    </div>

				</div>

			</div>

			<div class="row mt--2">
				<div class="col-md-7">
					<div class="card full-height" style="background-color: #181743">
                        <div class="card-header">
                            <div class="card-head-row">
                                <div class="card-title">Activity by Topic</div>

                                <div class="card-tools">
                                    <ul class="pagination pg-primary">
                                        <li class="page-item active"><a class="page-link" href="#">1D</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1W</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1M</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1Y</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5Y</a></li>
                                    </ul>
								</div>


                                <div class="card-tools">
									<a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
										<span class="btn-label">
											<i class="fa fa-pencil"></i>
										</span>
										Export
									</a>
									<a href="#" class="btn btn-info btn-border btn-round btn-sm">
										<span class="btn-label">
											<i class="fa fa-print"></i>
										</span>
										Print
									</a>
								</div>
                        </div>
                        </div>


						<div class="card-body">

                            <p class="card-category" style="font-size: 20px">
							Below barchart indicates your social media actions by topics across all social media platforms.
                            </p>
                            <div class="card-body">
                                <div class="chart-container">
                                    <canvas id="socialActivityChart"></canvas>
                                </div>
                            </div>

						</div>
					</div>
				</div>

                <div class="col-md-5">
                    <div class="card" style="background-color: #181743">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Activities by Platform</div>

                                <div class="card-tools">
                                    <ul class="pagination pg-primary">
                                        <li class="page-item active"><a class="page-link" href="#">1D</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1W</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1M</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1Y</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5Y</a></li>
                                    </ul>
								</div>

								<div class="card-tools">
									<a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
										<span class="btn-label">
											<i class="fa fa-pencil"></i>
										</span>
										Export
									</a>
									<a href="#" class="btn btn-info btn-border btn-round btn-sm">
										<span class="btn-label">
											<i class="fa fa-print"></i>
										</span>
										Print
									</a>
								</div>
							</div>
						</div>

                        <p   style="font-size: 20px; padding-left: 20px;">
							Sunburst chart reveals your detailed social media behavior by topics, activates, and platforms in real-time.
                        </p>

						<div class="card-body">
							<div class="chart-container" style="min-height: 375px">
                                <div id="myDiv"></div>
							</div>
							<div id="myChartLegend"></div>
						</div>
					</div>
                </div>
			</div>

			<div class="row row-card-no-pd" style="background-color: #181743">
				<div class="col-md-12" >
					<div class="card" style="background-color: #181743">
						<div class="card-header">
							<div class="card-head-row card-tools-still-right">
								<h4 class="card-title">Geolocation Activity</h4>
								<div class="card-tools">
									<button class="btn btn-icon btn-link btn-primary btn-xs"><span class="fa fa-angle-down"></span></button>
									<button class="btn btn-icon btn-link btn-primary btn-xs btn-refresh-card"><span class="fa fa-sync-alt"></span></button>
									<button class="btn btn-icon btn-link btn-primary btn-xs"><span class="fa fa-times"></span></button>
								</div>
							</div>
							<p class="card-category" style="font-size: 20px">
							Map of activity around the US
                            </p>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-6">
									<div class="table-responsive table-hover table-sales">
										<table class="table location-table">
											<tbody>
                                                <tr>
                                                    <th class="text-center"></th>
                                                    <th class="text-left" style="font-size: 20px">State</th>
                                                    <th class="text-center" style="font-size: 20px">Online Time Per day</th>
                                                    <th class="text-center" style="font-size: 20px">Interest Change</th>
                                                </tr>
												<tr>
													<td>
														<div class="flag text-center">
															<img src="/static/assets/img/flags/us/Colorado-Flag.ico" style="height: 40px; width: 40px" alt="indonesia">
														</div>
													</td>
													<td>Colorado</td>
													<td class="text-center">
														4h 20m
													</td>
													<td class="text-center">
														42.18%
													</td>
												</tr>
												<tr>
													<td>
														<div class="flag text-center">
															<img src="/static/assets/img/flags/us/Alabama-Flag.ico" style="height: 40px; width: 40px" alt="indonesia">
														</div>
													</td>
													<td>Alabama</td>
													<td class="text-center">
														5h 12m
													</td>
													<td class="text-center">
														12.08%
													</td>
												</tr>
												<tr>
													<td>
														<div class="flag text-center">
															<img src="/static/assets/img/flags/us/Arizona-Flag.ico" style="height: 40px; width: 40px" alt="indonesia">
														</div>
													</td>
													<td>Arizona</td>
													<td class="text-center">
														8h 22m
													</td>
													<td class="text-center">
														87.18%
													</td>
												</tr>
												<tr>
													<td>
														<div class="flag text-center">
															<img src="/static/assets/img/flags/us/Missouri-Flag-16.ico" style="height: 40px; width: 40px" alt="indonesia">
														</div>
													</td>
													<td>Missori</td>
													<td class="text-center">
														12h 45m
													</td>
													<td class="text-center">
														10.01%
													</td>
												</tr>
												<tr>
													<td>
														<div class="flag text-center">
															<img src="/static/assets/img/flags/us/Florida-Flag.ico" style="height: 40px; width: 40px" alt="indonesia">
														</div>
													</td>
													<td>Florida</td>
													<td class="text-center">
														2h 12m
													</td>
													<td class="text-center">
														45.85%
													</td>
												</tr>
												<tr>
													<td>
														<div class="flag text-center">
															<img src="/static/assets/img/flags/us/Oregon-Flag.ico" style="height: 40px; width: 40px" alt="indonesia">
														</div>
													</td>
													<td>Oregon</td>
													<td class="text-center">
														3h 30m
													</td>
													<td class="text-center">
														10.29%
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="col-md-6">
									<div class="mapcontainer">
										<div id="us-map" class="vmap"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo.js"></script>
	<script src="/static/assets/js/demo.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/wordcloud.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="/static/assets/js/sentiment.js"></script>
    <script src="/static/assets/js/wordcloud.js"></script>
    <script src="/static/assets/js/twitter-actions.js"></script>

	<script>
		Circles.create({
			id:'circles-1',
			radius:45,
			value:60,
			maxValue:100,
			width:7,
			text: 5,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		});

		Circles.create({
			id:'circles-2',
			radius:45,
			value:70,
			maxValue:100,
			width:7,
			text: 36,
			colors:['#f1f1f1', '#2BB930'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		});

		Circles.create({
			id:'circles-3',
			radius:45,
			value:40,
			maxValue:100,
			width:7,
			text: 12,
			colors:['#f1f1f1', '#F25961'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		});

		var socialActivityChart = document.getElementById('socialActivityChart').getContext('2d');


		var socialActivityChartData = {
		    labels: ["Beauty", "Dance", "RockClimbing", "Jobs"],
            datasets: [
                {
                    label: "Likes",
                    backgroundColor: '#FF2C63',
                    data: [40, 50, 60, 70]
                },
                {
                    label: "Posts",
                    backgroundColor: '#FFDB01',
                    data: [50, 50, 60, 70]
                },
                {
                    label: "Shares",
                    backgroundColor: '#19D895',
                    data: [10, 50, 60, 70]
                },
                {
                    label: "Comments",
                    backgroundColor: '#7D63D3',
                    data: [10,50,60,70]
                }

            ]
        };

        var mySocialActivityChart = new Chart(socialActivityChart, {
            type: 'bar',
            data: socialActivityChartData,
            options: {

				responsive: true,
				maintainAspectRatio: false,

				legend: {
					position: "bottom",
                    labels: {
                        fontColor: "#ededed",
                        fontSize: 15,
                    }
				},
                title: {
				    display: true,
                    text: "Social Activities",
                    fontColor: "#ededed",
                    fontSize: 20,
                },
                tooltips: {
					mode: 'index',
					intersect: false
				},
				scales: {
					yAxes: [{
					    stacked: true,
                        ticks: {
                            beginAtZero: true,
                            fontColor: "#ededed",
                            fontSize: 15,
                        },

					}],
					xAxes : [ {
					    stacked: true,
                        ticks: {
                            beginAtZero: true,
                            fontColor: "#ededed",
                            fontSize: 15,
                        },
					}]
				},
			}

        });


        var data = [{
          type: "sunburst",

            ids: [
            "Instagram", "Twitter", "Facebook", "Linkedin",
            "Dance", "Fun", "Nature", "Design", "Sport", "Friends", "Thanksgiving", "Jobs", "Voice",
              "Like", "Post", "Interest", "Like1"
          ],
          labels: [
            "Instagram", "Twitter", "Facebook", "Linkedin",
            "Dance", "Fun", "Nature", "Design", "Sport", "Friends", "Thanksgiving", "Jobs", "Voice",
              "Like", "Post", "Interest", "Like1"
          ],
          parents: [
                "", "", "", "",
              "Instagram", "Instagram", "Instagram", "Twitter", "Twitter", "Facebook", "Facebook", "Linkedin", "Linkedin",
              "Dance", "Dance", "Fun", "Voice"
          ],
          outsidetextfont: {size: 20, color: "#377eb8"},
          // leaf: {opacity: 0.4},
          marker: {line: {width: 2}},
        }];

        var layout = {
          margin: {l: 0, r: 0, b: 0, t:0},
          sunburstcolorway:["#7D63D3",
              '#FF2C63',
              "#19D895",
                '#FFDB01'],
            plot_bgcolor: 'rgba(0, 0, 0, 0)',
            paper_bgcolor: 'rgba(0, 0, 0, 0)'
        };

        var config = {
           modeBarButtonsToRemove: ['toImage', 'sendDataToCloud'],
           displaylogo: false
        };

        Plotly.newPlot('myDiv', data, layout, config);

        <!--US map activities-->
        jQuery('#us-map').vectorMap({
            map: 'usa_en',
            backgroundColor: null,
            color: '#686868',
            enableZoom: true,
            showTooltip: true,
            selectedColor: null,
            hoverColor: null,
            colors: {
                mo: '#2980b9',
                fl: '#ff0b00',
                or: '#8e44ad',
                co: '#1b33ad'
            },
            onRegionClick: function(event, code, region){
                event.preventDefault();
            }
        });


		$('#lineChart').sparkline([105,103,123,100,95,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#ffa534',
			fillColor: 'rgba(255, 165, 52, .14)'
		});
	</script>

{% endblock javascripts %}
