<form id="twitter-login-form">
      <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">@</div>
    </div>
    <input type="text" class="form-control" id="twitter-user" name="twitter-user" placeholder="Username">
  </div>
  <label class="sr-only" for="twitter-pass">Password</label>
  <input type="password" class="form-control mb-2 mr-sm-2" id="twitter-pass" name="twitter-pass" placeholder="Password">
</form>